{% extends "base.html" %}
{% block title %}Weaver History{% endblock title %}
{% block head %}
  <style>
    tr.action td:nth-child(1) b {
      display: block;
      width: 500px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: normal;
    }

    .action a:link, .action a:visited {
      text-decoration-color: lightgrey;

    }

    th {
      text-align: left;
    }
  </style>
{% endblock head %}

{% block content %}
  <div class="search-block">
    <div class="results">
      <table>
        <tr>
          <th>Name</th>
          <th>Location</th>
        </tr>
        {% for i in results.entries %}
          <tr class="action">
            <td>{% if i.kind == 'url' %}<a href="{{ i.name }}">{% endif %}
              <b>{{ i.name }}</b>
              {% if i.kind == 'url' %} </a> {% endif %}
            </td>
            <td>{% if i.kind == 'shell' %}{{ i.location }}{% endif %}</td>
          </tr>
        {% endfor %}
      </table>
    </div>

  </div>
{% endblock content %}
