<!DOCTYPE html>
<html lang="en">

<head <meta charset="UTF-8">
  <title>Weaver</title>
  <link rel="stylesheet" href="/assets/weaver.css">
  <style>
    .time {
      text-align: right;
      color: rgba(0, 0, 0, 0.5);
    }

    .name {
      padding-left: 7px;
    }

    tr.action td:nth-child(2) b {
      display: block;
      /*width: 500px;*/
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: normal;
    }

    .action a:link,
    .action a:visited {
      text-decoration-color: lightgrey;
    }

    th {
      text-align: left;
    }
  </style>
</head>

<body>
  <div class="search-block">
    <div class="results">
      <table id="actions">
        {% for i in results %}
        <tr class="action" id={{i.id}}>
          <td class="time" data-when={{i.when}}></td>
          <td class="name">{% if i.kind == 'url' %}<a data-href="{{ i.name }}">{% endif %}
              {{i.name}}
              {% if i.kind == 'url' %} </a> {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>

  </div>
  <script>
    function clickBody(event) {
      let href = event.target && event.target.dataset.href;
      if (href && window.external && window.external.invoke) {
        window.external.invoke(JSON.stringify({ fn: 'click', href: href }));
      }
    }
    document.body.addEventListener("click", clickBody);

    function timeSince(dateString) {
      const timeStamp = Date.parse(dateString);
      var now = new Date(),
        secondsPast = (now.getTime() - timeStamp) / 1000;
      if (secondsPast < 60) {
        return parseInt(secondsPast) + 's';
      }
      if (secondsPast < 3600) {
        return parseInt(secondsPast / 60) + 'm';
      }
      if (secondsPast <= 86400) {
        return parseInt(secondsPast / 3600) + 'h';
      }
      if (secondsPast > 86400) {
        const date = new Date(new Date(timeStamp));
        return `${date.getMonth() + 1}/${date.getDate()}`;
      }
    }

    (function () {
      let loopsToReload = 10;
      function updateTime() {
        loopsToReload -= 1;
        if (loopsToReload == 0) {
          window.location.reload();
          return;
        }
        let timeEls = document.getElementsByClassName('time');
        for (let i = 0; i < timeEls.length; i++) {
          let el = timeEls[i];
          if (el.dataset.when) {
            let ago = timeSince(el.dataset.when);
            el.innerHTML = ago;

          }
        }
      }

      updateTime();
      setInterval(updateTime, 60000);

    })();
  </script>
</body>

</html>