<!DOCTYPE html>
<html lang="en">
<head
  <meta charset="UTF-8">
  <title>Weaver</title>
    <link rel="stylesheet" href="/assets/weaver.css">
  <style>
    .time {
      text-align: right;
      color: rgba(0,0,0, 0.5);
    }

    .name {
      padding-left: 7px;
    }

    tr.action td:nth-child(2) b {
      display: block;
      /*width: 500px;*/
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: normal;
    }

    .action a:link, .action a:visited {
      text-decoration-color: lightgrey;
    }

    th {
      text-align: left;
    }
  </style>
</head>

<body>
  <div class="search-block">
    <div class="results">
      <table>
        {% for i in results %}
          <tr class="action">
            <td class="time">{{i.ago}}</td>
            <td class="name">{% if i.kind == 'url' %}<a href="{{ i.name }}">{% endif %}
              {{i.name}}
              {% if i.kind == 'url' %} </a> {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>

  </div>
</body>
</html>