body, input {
  font-size: 14px;
}

body {
  padding-top: 5px;
  font-family: 'Arial', 'sans-serif';
}

.body {
  display: flex;
  margin: 5px 0 0 0;
}

.sidebar {
  width: 30px;
}

nav {
  display: flex;
  border-bottom: solid 1px rgba(0,0,0, 0.1);
}

nav ul {
  display: flex;
  margin: 2px;
  padding: 0 0 0 2px;
}

nav ul li {
  width: 100px;
  list-style: none;
}


.search-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.app-name {
  margin-left: auto;
  font-weight: lighter;
}

a:link, a:visited {
  color: black;
}

.logo {
  padding-right: 8px;
}