

body, input {
  font-size: 14px;
}

body {
  font-family: 'Arial', 'sans-serif';
  margin: 0;
}

.body {
  display: flex;
  margin: 5px 0 0 0;
}

.sidebar {
  width: 30px;
}

a:link, a:visited {
  color: black;
}

nav {
  --nav-height: 24px;
  --inactive-bg: rgb(0.6, 0.6, 0.6);
  --inactive-color: white;
  --active-bg: white;
  --active-color: black;
  display: flex;
  width: 100%;
}

nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  background-color: var(--inactive-bg);
  width: 100%;
}

nav ul li:first-child {
  border-left: solid 1px var(--inactive-bg);
}

nav ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li a {
  width: 100px;
  height: var(--nav-height);
  display: inline-block;
  text-decoration: none;
  padding: 3px 2px 0 2px;
  background-color: var(--inactive-bg);
  border-right: solid 1px var(--active-bg);
}

nav a:link, nav a:visited {
  color: var(--inactive-color);
}

nav a:hover {
  background-color: rgb(0.8, 0.8, 0.8);
}

nav .active {
  background-color: var(--active-bg);
  color: var(--active-color);
  border-bottom: solid 1px var(--active-bg);
}

nav .active a:link, nav .active a:visited {
  background-color: var(--active-bg);
  color: var(--active-color);
}


nav .logo {
  padding: 2px 8px 2px;
  height: var(--nav-height);
}
.search-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.app-name {
  margin-left: auto;
  font-weight: lighter;
}


